.align_page_content {
  /* flex flex-col items-center gap-10 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

@keyframes popinout {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.animation__popinout {
  animation: popinout 1s ease-in-out infinite alternate-reverse;
}
